@{
    ViewData["Title"] = "Profile";
}

<!--Allign center-->
<div class="px-auto" style="width: 100%">
    <table>
        <tr>
            <td colspan="2">@Model.UserName</td>
        </tr>
        <tr>
            <td colspan="2">@Model.Email</td>
        </tr>
        <tr>
            <td colspan="2">@Model.FirstName</td>
        </tr>
        <tr>
            <td colspan="2">@Model.LastName</td>
        </tr>
        <tr>
            <td colspan="2">@Model.Position</td>
        </tr>
        <tr>
            <td colspan="2">@Model.Salary</td>
        </tr>
        <tr>
            <td><a class="btn btn-primary white no-text-decoration" asp-controller="Administration" asp-action="Edit" asp-route-Id="@Model.Id">Edit</a></td>
            <td><a class="btn btn-danger white no-text-decoration" asp-controller="Administration" asp-action="Delete" asp-route-Id="@Model.Id">Delete</a></td>
        </tr>
    </table>
</div>