@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Administration";
}

<h1>Users</h1>
<a asp-controller="Administration" asp-action="Create">Create a user account</a>
<table id="Administration-table">
    <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Email</th>
        <th>Job Position</th>
        <th>Salary</th>
        <th colspan="2">Actions</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.Position</td>
            <td>@user.Salary €</td>
            <td class="edit-button"><a asp-controller="Administration" asp-action="Edit" asp-route-userEmail="@user.Email">Edit</a></td> <!--with user id-->
            <td class="delete-button"><a asp-controller="Administration" asp-action="Delete" asp-route-userEmail="@user.Email">Delete</a></td> <!--with user id-->
        </tr>
    }
</table>
